{% extends "base.html" %}

{% block title %} Flasky - Profile {% endblock %}

{% block page_content %}
    <h1 class="page-header">User Profile</h1>

    <table class="table profile-table">
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
            <td><a href="{{ url_for('user.update', action='chemail') }}">change your email</a></td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
            <td><a href="{{ url_for('user.update', action='chname') }}">change your nickname</a></td>
        </tr>
        <tr>
            <th>Role</th>
            <td>{{ user.role }}</td>
            <td><a href="{{ url_for('user.privileges') }}">see your privileges</a></td>
        </tr>
        <tr>
            <th>Security</th>
            <td>{{ user.password_security }}</td>
            <td><a href="{{ url_for('user.update', action='chpasswd') }}">change your password</a></td>
        </tr>
    </table>

{% endblock %}