{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {% if action == 'chemail' %}  Flasky - Updating Email
    {% elif action == 'chpasswd' %} Flasky - Updating Password
    {% elif action == 'chprofile' %} Flasky - Updating Profile
    {% endif %}
{% endblock %}

{% block page_content %}
    {% if action == 'chemail' %}
        <h1 class="page-header">
            Updating Email
        </h1>
    {% elif action == 'chpasswd' %}
        <h1 class="page-header">
            Updating Password
        </h1>
    {% elif action == 'chprofile' %}
        <h1 class="page-header">
            Updating Profile
        </h1>
    {% endif %}
    {{ wtf.quick_form(form) }}
{% endblock %}



