{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello,
            {% if current_user.is_authenticated %} {{ current_user.name }}
            {% else %} Stranger
            {% endif %} !
        </h1>
    </div>

    <div class="page-body">

        <div class="post-editor">
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
                {{ wtf.quick_form(form) }}
            {% endif %}
        </div>

        {% include "_post-container.html" %}

        <div class="post-pagination">
            {{ macros.pagination_widgt(pagination, 'main.index') }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}